/* 古いclass名はhtmlを変更次第消す！ */

:root {
	/* Theme Color */
	--color_green: #008D56;
	--color_white: #FAFAFA;
	--color_greenDark: #004E2D;
	--color_greenPale: #A2DBA8;
}

* {
	font-family: "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
	color: var(--textColor);
}

body {
	background: var(--color_white);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #000080;
}

a:hover {
	color: #FF0000;
}

a:active {
	color: #FF8000;
}

.text_white,.text_normal {
	color: var(--color_white);
	font-size: medium;
	font-weight: normal;
	margin: 40px 50px;
}

.link_text,.text_link {
	color: #0000FF;
	font-size: medium;
	font-weight: bold;
	text-decoration: underline;
}

.login_body {
	background: var(--color_green);
}

.cardList,.selectList_base,.list_outer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px;
	max-width: 100%;
	padding: 2px;
}

.selectList_card,.list_thinBase {
	border-color: var(--color_greenPale);
	border-bottom-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 38px;
	margin: 4px 10px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

.selectList_cardName,.list_thinTitle {
	-o-text-overflow: ellipsis;
	color: var(--color_greenDark);
	font-size: large;
	font-weight: bold;
	left: 12px;
	max-width: 95%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 3px;
	white-space: nowrap;
}

.cardList_card,.list_boldBase {
	border-color: var(--color_greenPale);
	border-bottom-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 64px;
	margin: 4px 10px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

.cardList_Icon,.list_boldIcon {
	background: var(--color_green);
	border-radius: 25px;
	height: 50px;
	margin: 5px 10px;
	width: 50px;
}

.cardList_name,.list_boldTitle {
	-o-text-overflow: ellipsis;
	color: var(--color_greenDark);
	font-size: large;
	font-weight: bold;
	left: 72px;
	max-width: 70%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 6px;
	white-space: nowrap;
}

.cardList_id,.list_boldID {
	color: var(--color_greenDark);
	font-size: small;
	font-weight: bold;
	left: 72px;
	position: absolute;
	top: 38px;
}

.userPage_listURL {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.userPage_linkURL,userPage_listURL_text {
	-o-text-overflow: ellipsis;
	margin: 2px 2px 0px 2px;
	overflow: hidden;
	padding: 3px 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.userPage_linkURL:hover,userPage_listURL_text:hover {
	background-color: var(--color_greenPale);
}

.userPage_profile {
	font-size: medium;
	font-weight: normal;
	margin: 2px 2px 0px 2px;
	padding: 5px 8px;
}

.userPage_userID {
	color: var(--color_greenDark);
	font-size: small;
	font-weight: bold;
}

.userPage_userIcon {
	background: var(--color_green);
	border-radius: 36px;
	float: left;
	height: 72px;
	margin: 8px;
	width: 72px;
}

.userPage_userName {
	color: var(--color_greenDark);
	font-size: large;
	font-weight: bold;
	margin: 12px 6px 8px;
	width: 100%;
}

.logo {
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

.logo_base {
	padding: 128px 0px;
	position: relative;
}

.OverlapWinsow,.overlapWinsow_background {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
}

.newList_parent,.overlapWinsow_window {
	background: var(--color_green);
	border-radius: 20px;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 60%;
}

.login_input,.input_box {
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--color_white);
	box-sizing: border-box;
	color: var(--color_white);
	font: 15px/24px sans-serif;
	padding: 3px;
	width: 100%;
}

.login_input:focus,.input_box:focus {
	border-bottom: 2px solid var(--color_greenPale);
	outline: none;
}

.userList_title,.topTab_base {
	background: var(--color_green);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	box-sizing: border-box;
	display: flex;
	height: 64px;
	position: fixed;
	top: 0px;
	width: 100vw;
}

.userList_titleText,.topTab_text {
	color: var(--color_white);
	font-size: large;
	font-weight: bold;
	left: 54px;
	position: fixed;
	top: 20px;
	width: 70%;
}

.backButton_base {
	color: var(--color_white);
	display: block;
	left: 20px;
	opacity: 0.8;
	position: fixed;
	text-decoration: none;
	top: 20px;
}

.backButton_text {
	color: var(--color_white);
	font-size: large;
	font-weight: bold;
	position: relative;
	top: 2px;
}

.login_base,.input_base {
	/* login_parentは削除しました */
	left: 50%;
	position: relative;
	transform:translateX(-50%);
	width: 70%;
}

.login_info,.input_info {
	color: var(--color_white);
	font-size: small;
	font-weight: normal;
	width: 100%;
}

.login_info2,.input_title {
	color: var(--color_white);
	font-size: large;
	font-weight: bold;
	width: 100%;
}

.userList_editButton,.topTab_buttonOuter {
	position: fixed;
	right: 20px;
	top: 4px;
	width: 20%;
}

.loginButton_base,.button_outer {
	display: flex;
	flex-direction: row;
	margin: 0px 60px;
	max-width: 100%;
	padding: 0px;
}

.button_Base1 {
	background: var(--color_white);
	border-radius: 20px;
	display: block;
	height: 40px;
	margin: 5px 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.button_Base1:hover{
	opacity: 0.6;
}

.button_Text1 {
	color: var(--color_green);
	font-size: medium;
	font-weight: bold;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-50%,-50%);
}

.button_Base2 {
	border-color: var(--color_white);
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: block;
	height: 40px;
	margin: 5px 0px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.button_Base2:hover{
	opacity: 0.6;
}

.button_Text2 {
	color: var(--color_white);
	font-size: medium;
	font-weight: bold;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-50%,-50%);
}