/* class以外の説明は見ればわかると思うので省きます。 */
:root {
	/* Theme Color */
	--color_green: #008D56;
	--color_white: #FAFAFA;
	--color_greenDark: #004E2D;
	--color_greenPale: #A2DBA8;
}

* {
	font-family: "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
	color: var(--textColor);
}

body {
	background: var(--color_white);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #000080;
}

a:hover {
	color: #FF0000;
}

a:active {
	color: #FF8000;
}

/* 通常のテキスト（白） */
.text_normal {
	color: var(--color_white);
	font-size: medium;
	font-weight: normal;
	margin: 40px 50px;
}

/* リンクのテキスト（青） */
.text_link {
	color: #0000FF;
	font-size: medium;
	font-weight: bold;
	text-decoration: underline;
}

/* タイトルのテキスト（緑） */
.text_title {
	color: var(--color_green);
	font-size: medium;
	font-weight: bold;
	margin: 0px 0px 8px;
}

/* bodyの背景を緑にする（主にログイン前の画面） */
.login_body {
	background: var(--color_green);
}

/* リストの外枠 */
.list_outer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px;
	max-width: 100%;
	padding: 2px;
}

/* 細いリストの1行のベース */
.list_thinBase {
	border-color: var(--color_greenPale);
	border-bottom-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 38px;
	margin: 4px 10px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

/* 細いリストのタイトル文字 */
.list_thinTitle {
	-o-text-overflow: ellipsis;
	color: var(--color_greenDark);
	font-size: large;
	font-weight: bold;
	left: 12px;
	max-width: 95%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 3px;
	white-space: nowrap;
}

/* 太いリストの1行のベース */
.list_boldBase {
	border-color: var(--color_greenPale);
	border-bottom-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 64px;
	margin: 4px 10px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

/* 太いリストに設置するアイコン */
.list_boldIcon {
	background: var(--color_green);
	border-radius: 25px;
	height: 50px;
	margin: 5px 10px;
	width: 50px;
}

/* 太いリストのタイトル文字（幅おかしいかも） */
.list_boldTitle {
	-o-text-overflow: ellipsis;
	color: var(--color_greenDark);
	font-size: large;
	font-weight: bold;
	left: 72px;
	max-width: 70%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 6px;
	white-space: nowrap;
}

/* 太いリストの表示ID */
.list_boldID {
	color: var(--color_greenDark);
	font-size: small;
	font-weight: bold;
	left: 72px;
	position: absolute;
	top: 38px;
}

/* ユーザーページのURLリストの外側 */
.userPage_listURL {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

/* ユーザーページのURLリストテキスト */
.userPage_listURL_text {
	-o-text-overflow: ellipsis;
	margin: 2px 2px 0px 2px;
	overflow: hidden;
	padding: 3px 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ユーザーページのURLリストのテキスト（マウスホバー時の背景色） */
.userPage_listURL_text:hover {
	background-color: var(--color_greenPale);
}

/* ユーザーページのプロフィール */
.userPage_profile {
	font-size: medium;
	font-weight: normal;
	margin: 2px 2px 0px 2px;
	padding: 5px 8px;
	max-width: 100%;
	height: auto;
	overflow-wrap : break-word;
	word-break : break-all;
}

/* ユーザーページのID */
.userPage_userID {
	color: var(--color_greenDark);
	font-size: small;
	font-weight: bold;
}

/* ユーザーページのアイコン */
.userPage_userIcon {
	background: var(--color_green);
	border-radius: 36px;
	float: left;
	height: 72px;
	margin: 8px;
	width: 72px;
}

/* ユーザーページのユーザーネーム */
.userPage_userName {
	color: var(--color_greenDark);
	font-size: large;
	font-weight: bold;
	margin: 12px 6px 8px;
	width: 100%;
}

/* ログイン前のロゴ */
.logo {
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

/* ログイン前のロゴの上下の空間を作る */
.logo_base {
	padding: 128px 0px;
	position: relative;
}

/* 上に情報を表示するときに背景を暗くする（基本的にdisplay: none;で全画面表示） */
.overlapWinsow_background {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
}

/* 上に情報を表示するときのwindowベース */
.overlapWinsow_window {
	background: var(--color_green);
	border-radius: 20px;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 60%;
}

/* 入力するやつ */
.input_box {
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--color_white);
	box-sizing: border-box;
	color: var(--color_white);
	font: 15px/24px sans-serif;
	padding: 3px;
	width: 100%;
}


/* 入力するやつ選択中 */
.input_box:focus {
	border-bottom: 2px solid var(--color_greenPale);
	outline: none;
}

/* inputがあるとこのベース（左右に空間を作って自然にする） */
.input_base {
	left: 50%;
	margin: 0px 0px 24px;
	position: relative;
	transform:translateX(-50%);
	width: 70%;
}

/* inputの説明文字 */
.input_info {
	color: var(--color_white);
	font-size: small;
	font-weight: normal;
	margin: 16px 0px 0px;
	width: 100%;
}

/* inputがあるとこの大きめの文字 */
.input_title {
	color: var(--color_white);
	font-size: large;
	font-weight: bold;
	width: 100%;
}

/* 上のタブ */
.topTab_base {
	background: var(--color_green);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	box-sizing: border-box;
	display: flex;
	height: 64px;
	position: fixed;
	top: 0px;
	width: 100vw;
}

/* 上のタブのテキスト（タイトル） */
.topTab_text {
	color: var(--color_white);
	font-size: large;
	font-weight: bold;
	left: 54px;
	position: fixed;
	top: 20px;
	width: 70%;
}

/* 上のタブのボタンの位置を決める */
.topTab_buttonOuter {
	position: fixed;
	right: 20px;
	top: 4px;
	width: 20%;
}

/* ボタンの位置を決める */
.button_outer {
	display: flex;
	flex-direction: row;
	margin: 0px 60px;
	max-width: 100%;
	padding: 0px;
}

/* 上のタブに置く戻るボタンの位置を決める */
.backButton_base {
	color: var(--color_white);
	display: block;
	left: 20px;
	opacity: 0.8;
	position: fixed;
	text-decoration: none;
	top: 20px;
}

/* 上のタブに置く戻るボタンのテキスト（.backButton_baseと一体化できそうな気がする） */
.backButton_text {
	color: var(--color_white);
	font-size: large;
	font-weight: bold;
	position: relative;
	top: 2px;
}

/* 白いボタンのベース */
.button_Base1 {
	background: var(--color_white);
	border-radius: 20px;
	display: block;
	height: 40px;
	margin: 5px 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;
}


/* 白いボタンのマウスホバー時 */
.button_Base1:hover{
	opacity: 0.6;
}

/* 白いボタンのテキスト */
.button_Text1 {
	color: var(--color_green);
	font-size: medium;
	font-weight: bold;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-50%,-50%);
}

/* 緑のボタンのベース */
.button_Base2 {
	border-color: var(--color_white);
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	display: block;
	height: 40px;
	margin: 5px 0px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

/* 緑のボタンのマウスホバー時 */
.button_Base2:hover{
	opacity: 0.6;
}

/* 緑のボタンのテキスト */
.button_Text2 {
	color: var(--color_white);
	font-size: medium;
	font-weight: bold;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-50%,-50%);
}
