:root {
	/* Theme Color */
	--color_green: #008D56;
	--color_white: #FAFAFA;
	--color_greenDark: #004E2D;
	--color_greenPale: #A2DBA8;
}

* {
	font-family: "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
	color: var(--textColor);
}

body {
	background: var(--color_white);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #000080;
}

a:hover {
	color: #FF0000;
}

a:active {
	color: #FF8000;
}

.text_white,.text_normal {
	color: var(--color_white);
	font-size: 16px;
	font-weight: normal;
	margin: 40px 50px;
}

.link_text,.text_link {
	color: #0000FF;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.login_body {
	background: var(--color_green);
}

.cardList,.selectList_base,.list_outer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px;
	max-width: 100%;
	padding: 2px;
}

.selectList_card,.list_thinBase {
	border-color: var(--color_greenPale);
	border-bottom-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 38px;
	margin: 4px 10px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

.selectList_cardName,.list_thinTitle {
	-o-text-overflow: ellipsis;
	color: var(--color_greenDark);
	font-size: 18px;
	font-weight: bold;
	left: 12px;
	max-width: 95%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 3px;
	white-space: nowrap;
}

.cardList_card,.list_boldBase {
	border-color: var(--color_greenPale);
	border-bottom-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 64px;
	margin: 4px 10px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

.cardList_Icon,.list_boldIcon {
	background: var(--color_green);
	border-radius: 25px;
	height: 50px;
	margin: 5px 10px;
	width: 50px;
}

.cardList_name,.list_boldTitle {
	-o-text-overflow: ellipsis;
	color: var(--color_greenDark);
	font-size: 22px;
	font-weight: bold;
	left: 72px;
	max-width: 70%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 6px;
	white-space: nowrap;
}


.cardList_id,.list_boldID {
	color: var(--color_greenDark);
	font-size: small;
	font-weight: bold;
	left: 72px;
	position: absolute;
	top: 38px;
}

.userPage_listURL {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.userPage_linkURL,userPage_listURL_text {
	-o-text-overflow: ellipsis;
	margin: 2px 2px 0px 2px;
	overflow: hidden;
	padding: 3px 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.userPage_linkURL:hover,userPage_listURL_text:hover {
	background-color: var(--color_greenPale);
}

.userPage_profile {
	font-size: 14px;
	font-weight: normal;
	margin: 2px 2px 0px 2px;
	padding: 5px 8px;
}

.userPage_userID {
	color: var(--color_greenDark);
	font-size: 12px;
	font-weight: bold;
}

.userPage_userIcon {
	background: var(--color_green);
	border-radius: 36px;
	float: left;
	height: 72px;
	margin: 8px;
	width: 72px;
}

.userPage_userName {
	color: var(--color_greenDark);
	font-size: 24px;
	font-weight: bold;
	margin: 12px 6px 8px;
	width: 100%;
}

.logo {
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}


.OverlapWinsow {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
}


